.header{
  background-image:url(header.png);
  height: 306px;
}
.head-1 {
  
  font-size: 24px;
  font-family: "Fira Sans";
  color: rgb( 254, 252, 252 );
  font-weight: bold;
  margin-top:25px;
}
.head-2{
  font-size: 15px;
  font-family: "Fira Sans Light";
  color: rgb( 255, 255, 255 );
  line-height: 1.733;
  margin-top:35px;
  text-align:right;
}
.head-3 {
  font-size: 60px;
  font-family: "Fira Sans Light";
  color: rgb( 254, 252, 252 );
  text-align:center;
  margin-top:80px;
}
.top1{
  margin-top:60px;
}
.top2{
  margin-top:30px;
}
.top3{
  margin-top:15px;
}
.text{
  font-size: 30px;
  font-family: "Fira Sans Medium";
  color: rgb( 64, 62, 62 );
}
.obzor-cont {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
  line-height: 1.5;
  height: 137px;
}
.req{
  height: 437px;
  width: 371px;
  height: 437px;
  border-radius: 4px;
  background-color: rgb( 36, 125, 154 );
}
.req-text{
  background:url(req-text.png) no-repeat;
  border-radius: 4px;
  width: 294px;
  height:300px; 
}
.assign{
  background:url(assign.png) no-repeat;
  height:63px;
  cursor:pointer;
  
}
.assign:hover{
  background:url(assign2.png) no-repeat;
  height:63px;
  cursor:pointer;
}

.form-assign {
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  width:270px ;
  height: 60px;
  font-size: 18px;
  padding-left:20px;
  outline:none;
  -webkit-appearance: none;
  
}
.req-pic{
  background:url(arrow-right2.png);
  border-radius: 4px;
  vertical-align:middle;
  height:63px;
  margin-bottom:2px;
  outline:none;
  -webkit-appearance: none;
  width:41px;
  cursor:pointer;
}
.req-pic:hover{
  background:url(arrow-right2-b.png);
  border-radius: 4px;
  vertical-align:middle;
  height:63px;
  outline:none;
  -webkit-appearance: none;
  width:41px;
  margin-bottom:2px;
  cursor:pointer;
}
.bonus-sq {
  background-color: rgb( 149, 149, 149 );
  width: 78px;
  height: 76px;
}
.bonus-main {
  font-size: 22px;
  font-family: "Fira Sans Medium";
  color: rgb( 64, 62, 62 );
}
.bonus-add {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
}

.main, .addit{
  overflow:auto;
  padding-bottom:30px;
}
.div_blue {
  border-width: 3px;
  border-color: rgb( 36, 125, 154 );
  border-style: solid;
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 3px 5.196px 0px 0px rgb( 125, 125, 125 );
  height: 60px;
  vertical-align:center;
}
.div_grey {
  border-width: 3px;
  border-color: rgb( 221, 221, 221 );
  border-style: solid;
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 3px 5.196px 0px 0px rgb( 125, 125, 125 );
  height: 60px;
}
.div_grey:hover{
  border-color: rgb( 36, 125, 154 );
}

.text-main {
  font-size: 17px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
  font-weight: bold;
  line-height:55px;
  cursor:pointer;
}
.prog-img {
  height:20px;
  vertical-align:middle;
  margin-top:25px;
  background:url(arrow_down.png) no-repeat;
  width:30px;
}
.prog-img-b {
  height:20px;
  vertical-align:middle;
  margin-top:25px;
  background:url(arrow_up.png) no-repeat;
  width:30px;
}
.text-main:hover   .prog-img{
 background:url(arrow_down_b.png) no-repeat;
}

.addit-text {
  font-size: 17px;
  font-family: "Open Sans Light";
  color: rgb( 64, 62, 62 );
  
}
.td-text {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
  font-weight: bold;
}
.td-text2 {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
}
.inside{
  padding-top:30px;
}
.none{
  display:none;
}
.demands {
  background-color: rgb( 36, 125, 154 );
  height: 483px;
}
.demands-text {
  font-size: 30px;
  font-family: "Fira Sans Medium";
  color: rgb( 255, 255, 255 );
  line-height:1.3;
}
.demands-text2 {
  font-size: 16px;
  font-family: "Open Sans Light";
  color: rgb( 255, 255, 255 );
  height: 126px;
 }
.demands-text3 {
  font-size: 14px;
  font-family: "Open Sans Light";
  color: rgb( 178, 234, 252 );
}  
.demands-text2-1 {
  font-size: 16px;
  font-family: "Open Sans Light";
  color: rgb( 255, 255, 255 );
  font-style: italic;
}
.demands-text2-2{
  font-size:18px;
  cursor:pointer;
  text-decoration:underline;
  font-weight:bold;
}
.demands-text2-2:hover{
  font-size:18px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
}

.add-dem-text {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 64, 62, 62 );
}

.form {
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  width: 290px;
  height: 43px;
  font-size: 18px;
  padding-left:20px;
  outline:none;
  -webkit-appearance: none;
}
.form1 {
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  width: px;
  height: 43px;
  font-size: 18px;
  padding-left:20px;
  outline:none;
  -webkit-appearance: none;
}
.hide{
  visibility:hidden;
}
.reveal{
  visibility:display;
}
.pic{
  background:url(arrow-right.png);
  border-radius: 4px;
  height:47px;
  margin-bottom:2px;
  outline:none;
  -webkit-appearance: none;
  width:43px;
  cursor:pointer;
}
.pic:hover{
  background:url(arrow-right-b.png);
  border-radius: 4px;
  vertical-align:middle;
  height:47px;
  outline:none;
  -webkit-appearance: none;
  width:43px;
  margin-bottom:2px;
  cursor:pointer;
}
.footer{
  background-color: rgb( 0, 104, 137 );
  height: 103px;
}

.sub_footer {
  background-color: rgb( 1, 92, 121 );
  text-align:center;
  height: 29px;
  font-size: 12px;
  font-family: "Open Sans";
  color: rgb( 108, 168, 190 );
}
.footer-text{
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 254, 252, 252 );
  line-height: 1.625;
  margin-top:25px;
}
.footer-text1 {
  font-size: 25px;
  font-family: "Fira Sans Light";
  color: rgb( 254, 252, 252 );
  margin-top:25px;
  text-align:center;
}






