/*
1248px grid system ~ Core CSS.
12 Columns ~ Margin left: 42px ~ Margin right: 42px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
        min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
        margin-left: auto;
        margin-right: auto;
        width: 1256px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1, .grid_0,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
        display: inline;
        float: left;
        margin-left: 30px;
        margin-right: 26px;
}

.push_1, .push_0, .push_01, .pull_1, .pull_0,
.push_2, .pull_2, .pull_02, .pull_01, .pull_001,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6, .push_06,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
        position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_0 {width: 20px;}
.container_12 .grid_1 {width: 70px;}
.container_12 .grid_2 {width: 124px;}
.container_12 .grid_3 {width: 228px;}
.container_12 .grid_4 {width: 332px;}
.container_12 .grid_5 {width: 436px;}
.container_12 .grid_6 {width: 540px;}
.container_12 .grid_7 {width: 644px;}
.container_12 .grid_8 {width: 748px;}
.container_12 .grid_9 {width: 852px;}
.container_12 .grid_10 {width: 956px;}
.container_12 .grid_11 {width: 1060px;}
.container_12 .grid_12 {width: 1164px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 104px;}
.container_12 .prefix_2 {padding-left: 208px;}
.container_12 .prefix_3 {padding-left: 312px;}
.container_12 .prefix_4 {padding-left: 416px;}
.container_12 .prefix_5 {padding-left: 520px;}
.container_12 .prefix_6 {padding-left: 624px;}
.container_12 .prefix_7 {padding-left: 728px;}
.container_12 .prefix_8 {padding-left: 832px;}
.container_12 .prefix_9 {padding-left: 936px;}
.container_12 .prefix_10 {padding-left: 1040px;}
.container_12 .prefix_11 {padding-left: 1144px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 104px;}
.container_12 .suffix_2 {padding-right: 208px;}
.container_12 .suffix_3 {padding-right: 312px;}
.container_12 .suffix_4 {padding-right: 416px;}
.container_12 .suffix_5 {padding-right: 520px;}
.container_12 .suffix_6 {padding-right: 624px;}
.container_12 .suffix_7 {padding-right: 728px;}
.container_12 .suffix_8 {padding-right: 832px;}
.container_12 .suffix_9 {padding-right: 936px;}
.container_12 .suffix_10 {padding-right: 1040px;}
.container_12 .suffix_11 {padding-right: 1144px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_0{left: 30px;}
.container_12 .push_01{left: 35px;}
.container_12 .push_1 {left: 104px;}
.container_12 .push_2 {left: 208px;}
.container_12 .push_3 {left: 312px;}
.container_12 .push_4 {left: 416px;}
.container_12 .push_5 {left: 520px;}
.container_12 .push_6 {left: 624px;}
.container_12 .push_06 {left: 705px;}
.container_12 .push_7 {left: 728px;}
.container_12 .push_8 {left: 832px;}
.container_12 .push_9 {left: 936px;}
.container_12 .push_10 {left: 1040px;}
.container_12 .push_11 {left: 1144px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_0 {left: -30px;}
.container_12 .pull_01 {left: -44px;}
.container_12 .pull_001 {left: -41px;}
.container_12 .pull_1 {left: -104px;}
.container_12 .pull_02 {left: -150px;}
.container_12 .pull_2 {left: -208px;}
.container_12 .pull_3 {left: -312px;}
.container_12 .pull_4 {left: -416px;}
.container_12 .pull_5 {left: -520px;}
.container_12 .pull_6 {left: -624px;}
.container_12 .pull_7 {left: -728px;}
.container_12 .pull_8 {left: -832px;}
.container_12 .pull_9 {left: -936px;}
.container_12 .pull_10 {left: -1040px;}
.container_12 .pull_11 {left: -1144px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
        content: "\0020";
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}
.clearfix:after {
        clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
        zoom: 1;
}
- See more at: http://www.gridsystemgenerator.com/gs01.php?GridWidth=1248&GridColumns=12&GridMarginLeft=42&GridMarginRight=42&sc=1#sthash.rdl5sRPT.dpuf